body {
  background-image: url(bg.gif);
  background-size: 300px;
  font-family: "LeagueMonoVariable", monospace;
  color: #333;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
body #navbar {
  width: 40%;
  height: 57px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body #navbar #logo {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #navbar #logo img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
body #navbar #nav-buttons {
  display: flex;
  flex: 4;
  justify-content: space-around;
  color: white;
}
body #navbar #nav-buttons button {
  background: none;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body #navbar #nav-buttons button:hover {
  color: #bbdf74;
}
body #navbar #contact-button {
  display: flex;
  flex: 1.5;
  justify-content: space-around;
}
body #navbar #contact-button button {
  font-size: 16px;
  width: 90%;
  background: white;
  color: black;
  border-radius: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease;
}
body #navbar #contact-button button:hover {
  background-color: #bbdf74;
}
body #main {
  display: flex;
  height: 90vh;
  width: 100%;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
body #main .img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}
body #main .img #img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  border-radius: 35px;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
body #main .img #lottie-container {
  width: 100px;
  top: 87%;
  left: 8%;
  height: 100px;
  z-index: 1;
  background-color: #bbdf74;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

@font-face {
  src: url("https://mdn.github.io/shared-assets/fonts/LeagueMono-VF.ttf");
  font-family: "LeagueMonoVariable";
  font-style: normal;
  font-stretch: 1% 500%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1.2;
  color: #bbdf74;
  font-family: "Fira Code", monospace;
}

.hero h1 {
  font-size: 64px;
  margin: 0;
  display: flex;
  align-items: center;
  animation: typing 2s steps(15), blink 0.7s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #bbdf74;
}

.hero h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #fff;
}

.hero p {
  margin-top: 10px;
  color: #888;
  font-style: italic;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*# sourceMappingURL=styling.css.map */
